.studyplan {
  height: 94vh;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: inherit;
  display: block;
  margin-top: 2.6%;
  margin-left: 20%;
  z-index: -1;
}

  .studyplan > p {
    margin-left: 43%;
    font-size: 36px;
  }

  .studyplan > h1 {
    margin-left: 45%;
    font-size: 20px;
  }

  .studyplan > h2 {
    font-size: 20px;
    /*border: 1px solid black;*/
    
  }

  .side {
    border: 2px solid black;
  }
  