.studyplan {
    height: auto;
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 15%;
  }

  .studyplan > p {
    margin-left: 43%;
    font-size: 36px;
  }

  .studyplan > h1 {
    margin-left: 45%;
    font-size: 20px;
  }

  .studyplan > h2 {
    font-size: 20px;
    /*border: 1px solid black;*/
    
  }