.modules{
    align-items: center;
    justify-content: center;
    height: auto;
    width: 81%;
    margin-top: 4%;
    margin-left: 24%;
    
}

.modules-one{
    justify-content: center;
    align-items: center;
    padding-block-end: 3%;
}

.modules-name{
    color: #ff4500;
    cursor: pointer;
}


