.modules {
    top: 0;
    margin-left: clamp( 1%, 1%);
    align-items: center;
    justify-content: center;
    height: auto;
    width: 70%;
    min-width: 100px; 
}

.error {
    top: 60px;
    background-color: orange;
    border: 1px solid red;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    font-size: 24px;
    position: fixed;
    justify-content: center;
    align-items: center;
}


.searchbar{
    margin-top: 120px;
    margin-left: clamp(150px, 24%, 24%);
    align-items: center;
    justify-content: center;
    height: auto;
    width: 40%;
    min-width: 100px;
    display: absolute;
}

.modules-one {
    justify-content: center;
    align-items: center;
    padding-block-end: 3%;
    margin-left: clamp(150px, 24%, 24%);
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    min-width: 100px;

}

.modules-name {
    color: #ff4500;
    cursor: pointer;
}

.row {
    display: flex;
    margin-left: clamp(10%, 10%, 20%);
    height: auto;
    width: 60%;
    min-width: 100px;
}

.side {
    top: 120px;
    font-size: large;
    text-align: center;
    margin-left: clamp(40%, 57%, 57%);
    position: fixed;
    border: 2px solid black;
    width: 300px;
    border-radius: 5px;
}