.modules {
    align-items: center;
    justify-content: center;
    height: auto;
    width: 40%;
    margin-top: 4%;
    margin-left: 24%;
}

.modules-one {
    justify-content: center;
    align-items: center;
    padding-block-end: 3%;
}

.modules-name {
    color: #ff4500;
    cursor: pointer;
}

.rowC {
    display: flex;
    flex-direction: row;
}

.side {
    font-size: large;
    text-align: center;
    margin-left: 80%; 
    margin-top: -90%; 
    position: fixed;
    border: 2px solid black;
    width: 300px;
    border-radius: 5px;
}


