@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.form{
    margin-top: -20px;
    margin-left: clamp(150px, 24%, 24%);
    height:90vh;
    box-sizing: border-box;
    /* text-align: center; */
    text-decoration: dashed;
    padding: 2%;
    display: block;
}

.text{
    margin-top: 60px;
    margin-left: clamp(150px, 24%, 24%);
    font-family: 'Josefin', cursive;
}

.example{
    display: block;
    font-family: 'Anton', sans-serif;
    color: grey;
}