.module-container {
  height: 94vh;
  width: 80%;
  justify-content: top;
  padding-left: 20%;
  margin-top: 3.5%;
}

.module-container>h1 {
  font-size: 64px;
  text-align: left;
  white-space: pre-line;
}

.module-container>h1>p {
  font-size: 24px;
  text-align: left;
}

.module-container>h1>p>g {
  font-size: 20px;
  text-align: left;
  white-space: pre-line;
}

.errorBox {
  border: 1px solid red;
    width: 101.7%;
    margin-top: 3.5%;
    margin-left: -2%;
    text-align: center;
    font-size: 24px;
}
