.navbar-header{
    background-color: #E6E6FA;
    position: fixed;
    top: 0;
    min-width: 50%;
    width:100%;
    max-height: 10vh;
    height: 60px; 
    max-height: 30vh;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.navbar-header-text{
    color: #ff4500;
    display: fixed;
    margin-left: 1rem;
    width: auto;
    height: auto;
}

.navbar-header-text a{
    color: #ff4500;
    text-decoration: none;
}

.navbar-menu{
    display: absolute;
    justify-content: center;
    box-sizing: border-box;
    overflow: auto;
    z-index: 999;
    height: 100%;
    width: 20%;
    top: 60px;
}

.navbar-menu-items{
    background-color: rgb(255, 255, 255, 0.8);
    box-sizing: border-box;
    position: fixed;
    top: 45px;
    min-width: 150px;
    height: 100%;
    width: 20%;
    padding: 2%;
    list-style-type: none;
}  

#dark .navbar-menu-items, #dark label, #dark .nav-text a {
    background-color: rgb(88, 88, 88, 0.8);
    color: white;
    min-height: 50%;
    max-height: 90%;
} 

#dark .nav-text a:hover {
    background-color: #E8E8E8;
    color: red;
}

.nav-text{
    display: fixed;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
    height: 5%;
    width: 100%;
    font-size: 1.4vw;
}

.nav-text a {
    text-decoration: none;
    display: fixed;
    align-items: center;
    width: 60%;
    height: 1.6vw;
    padding: 0 3%;
}

.nav-text a:hover {
    background-color: #E8E8E8;
    color: red;
}

/* between icon and text */
span{
    margin-left: 8%;
}

label {
    font-size: 1.3vw;
    color: #551a8b;
}