.navbar-header{
    background-color: #E6E6FA;
    position: fixed;
    top: 0;
    height: 50px;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.navbar-header-text{
    color: #ff4500;
    display: flex;
    margin-left: 1rem;
    width: auto;
    
}

.navbar-header-text a{
    color: #ff4500;
    text-decoration: none;
}

.navbar-menu{
    display:flex;
    justify-content: center;
    position: fixed;
    overflow: auto;
    z-index: 999;
    height:auto;

}

.navbar-menu-items{
    color: #484848;
    display: start;
    width: 17%;
    height: 100%;
    padding: 2% 0% 1% 1%;
    list-style-type: none;
    justify-content: center;
    position: fixed;
    background-color: white;
    margin: 0;
}   

.nav-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
    height: 5%;
    width: 100%;
    font-size: 1.4vw;}

.nav-text a {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 60%;
    height: 1.6vw;
    padding: 0 3%;
}

.nav-text a:hover {
    background-color: #E8E8E8
}

/* between icon and text */
span{
    margin-left: 8%;
}

label {
    font-size: 1.3vw;
    color: #551a8b;
}