.studyplan {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

#dark .modules, .studyplan{
    background-color: #303030;
    color: white;
}

#light .modules, .studyplan{
    background-color: white;
    color: black;
}


