.studyplan {
    align-items: center;
    justify-content: center;
    position: relative;
    display: block;
    z-index: -100; /* removing this allows map to move */
    left: 5%;
    height: 100vh;
    width: 100%;
    margin-right: 10%;
    margin-top: -9%;
}

#dark .modules, #light .studyplan{
    background-color: #585858;
    color: white;
}

#light .modules, #light .studyplan{
    background-color: white;
    color: black;
}

.switch{
    margin-left: 85%;
    margin-top: -52%;
    z-index: 9999;
    position: absolute;
}

/*
#light .switch label{
    color: black;
}

#dark .switch label{
    color: white;
}
*/