.studyplan{
    margin-right: 12rem;
    background-color: #303030;
}

#dark .modules, .studyplan{
    background-color: #585858;
    color: white;
}

#light .modules, .studyplan{
    background-color: white;
    color: black;
}

.switch{
    margin-left: 2%;
    margin-top: -35%;
    z-index: 9999;
    position: absolute;
}

#light .switch label{
    color: black;
}

#dark .switch label{
    color: white;
}
