.hero-container {
  background: url(/images/img-home.jpg) center center/cover no-repeat; 
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin-left: 18%;
  margin-top: 3%;
}

.hero-container > h1 {
  text-align: relative;
  color: #fff;
  font-size: 6vw;
  margin-top: -5%; 
  margin-left: 15%;
}

.hero-container > h2 {
  width: 20%;
  margin-left: 37%;
}

.module-name {
  margin-left: 15%;
  min-width: 1vw;
  text-align: left;
  white-space: pre-line;
  margin-top: 1vw;
  color: white;
  font-size: 3vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.module-name > h1 {
  text-align: left;
  line-height: normal;
  margin-top: 0%;
  color: #fff;
  font-size: 1.2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  max-width: 1000px;
  cursor: auto;
}

